
div[data-role="content"] {
  margin: 0 auto;
  border: 0;
  padding: 10px;
}

div.ui-field-contain {
  padding: .6em 0;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

#affectbutton {
  width: 276px;
  height: 276px;
}

a {
  font-weight: normal !important;
  text-decoration: none;
}
